* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: "Orbitron", sans-serif;
}

body {
	background-color: #4c566a;
	color: aliceblue;
}

.container {
	width: 100dvw;
	height: 100dvh;
	background-color: rgb(143, 143, 143);
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	background-color: #1e1f23;
	width: 280px;
	height: 520px;
	border-radius: 15px;
	padding: 5px;
}

.containerDisplay {
	background-color: #e5e0d2;
	color: #1e1f23;
  padding: 5px;
  border-radius: 10px;
  margin-block: 15px;
  margin-inline: 5px;
  height: 35%;
}

.inputContainer {
	background-color: #e5e0d2;
	color: #1e1f23;
  height: 70%;
}
#display {
  height: 100%;
  text-align: right;
  padding: 5px;
  border: none;
  font-size: 38px;
  max-width: 100%;
  outline: none;
  overflow: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow-wrap: break-word;
  word-break: break-all;

}

.resultContainer {
  height: 40px;
  font-size: 20px;
  text-align: right;
  padding-top: 10px;
}
.containerButtons {
  padding-inline: 5px;
}

.buttonsCalculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
}
button:hover {
  background-color: #a4a4a4;
}
#zero {
  grid-column: 1 / 3;
  width: auto;
  border-radius: 25px;
}
.greyButtons {
  background-color: #b7aea6;
}
.redButtons {
  background-color: #e65349;
}
.blueButtons {
  background-color: #6586a5;
}